In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
df = pd.read_csv("titanic_train.csv")

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df = df[['Survived', 'Pclass','Age',"Fare"]]

In [7]:
df.sample(5)

     Survived  Pclass   Age     Fare
821         1       3  27.0   8.6625
32          1       3   NaN   7.7500
732         0       2   NaN   0.0000
499         0       3  24.0   7.7958
385         0       2  18.0  73.5000

In [8]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [9]:
X = df.drop(columns="Survived")
y = df["Survived"]

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [11]:
knn = KNNImputer()

In [12]:
knn.fit(X_train)

KNNImputer()

In [13]:
X_train_trf = knn.transform(X_train)
X_test_trf = knn.transform(X_test)

In [14]:
lr = LogisticRegression()

In [15]:
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.7430167597765364

In [17]:
pd.DataFrame(X_train_trf).isnull().sum()

0    0
1    0
2    0
dtype: int64

In [19]:
def knn1(n_neighbors,weights,add_indicator):
    knn2 = KNNImputer(n_neighbors=n_neighbors,weights=weights,add_indicator=add_indicator)
    X_train_trfs = knn2.fit_transform(X_train)
    X_test_trfs = knn2.fit_transform(X_test)
    lr = LogisticRegression()
    lr.fit(X_train_trfs,y_train)
    y_preds = lr.predict(X_test_trfs)
    ase = accuracy_score(y_preds,y_test)
    
    return ase

In [25]:
knn1(n_neighbors=15,weights="distance",add_indicator=False)

0.7541899441340782